{% extends "student_course_base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Assignment Grades</h2>
    
    {% if grades %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Assignment</th>
                        <th>Course</th>
                        <th>Grade</th>
                        <th>Feedback</th>
                        <th>Graded On</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grade in grades %}
                        {% if grade[-1] <= current_time %} <!-- Check if deadline is up-->
                        <tr>
                            <td>{{ grade[0] }}</td>
                            <td>{{ grade[4] }} ({{ grade[5] }})</td>
                            <td>{{ grade[1] }}</td>
                            <td>{{ grade[2] }}</td>
                            <td>{{ grade[3].strftime('%B %d, %Y') if grade[3] else "-"}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-info">
            No grades available yet.
        </div>
    {% endif %}
</div>
{% endblock %}