{% extends "teacher_course_base.html" %}
{% block title %}Feedback - Gradia{% endblock %}
{% block page_title %}Feedback{% endblock %}
{% block content %}
  <!--Flash Messages-->
  <div class="container flash-messages mt-3">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

<div class="feedback-list">
    {% for fb in feedbacks %}
    <div class="feedback-item">
        <div class="feedback-header">
            <h4>{{ fb[0] }} - {{ fb[1] }}</h4> <!-- Assignment title - Student name -->
            <span class="submission-date">Submitted: {{ fb[3] }}</span>
        </div>
        <div class="feedback-content">
            <p>{{ fb[2] }}</p> <!-- Feedback description -->
        </div>
        <div class="feedback-footer">
            <!-- Edit Feedback redirects to grade_submission -->
            <a href="{{ url_for('grade_submission', course_code=course_code, assignment_id=fb[4] , submission_id=fb[5], student_id=fb[6]) }}" class="btn btn-primary">Edit Feedback</a>
        </div>
    </div>
    {% else %}
    <p>No feedback available.</p>
    {% endfor %}
</div>
{% endblock %}