<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Windows</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_email.css') }}">
</head>
<body>
    <div class="modal" id="email-modal">
        <button class="close-button">✕</button>
        <h2>Change Email Adress</h2>
        <input class="email-input" type="email" placeholder="Enter new email address*">
        <button class="save-button">Save</button>
    </div>


</body>
</html>


