{% extends "layout.html" %}

{% block content %}
<div class="main-content">
  <!-- Left placeholder -->
  <div class="left-placeholder">
    <img src="{{ url_for('static', filename='images/brain-icon.png') }}" alt="Brain Icon" class="brain-icon">
  </div>

  <!-- Signup form -->
  <div class="signup-card">
    <h2>Create your account</h2>
    {% if error_message %}
      <div class="alert alert-warning" role="alert">
      {{ error_message }}
      </div>
    {% endif %}

    <form method="POST" action="{{ url_for('signup') }}">
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email address*" required>
      </div>
      <div class="form-row">
        <div class="form-group">
          <input type="text" class="form-control" name="first_name" placeholder="First Name*" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="last_name" placeholder="Last Name*" required>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="user_id" placeholder="Teach or Student ID *" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password*" required>
      </div>
      <div class="login-redirect">
        Already have an account? <a href="{{ url_for('login') }}">Log in.</a>
      </div>
      <button type="submit" class="signup-btn">Sign up</button>
    </form>
  </div>
</div>
{% endblock content %}